/* CSS DOCUMENT */
/* body{
	margin:0; 
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    background: #2980b9 url('https://static.tumblr.com/03fbbc566b081016810402488936fbae/pqpk3dn/MRSmlzpj3/tumblr_static_bg3.png') repeat 0 0;
	-webkit-animation: 10s linear 0s normal none infinite animate;
	-moz-animation: 10s linear 0s normal none infinite animate;
	-ms-animation: 10s linear 0s normal none infinite animate;
	-o-animation: 10s linear 0s normal none infinite animate;
	animation: 10s linear 0s normal none infinite animate;
 
}
 
@-webkit-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-moz-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-ms-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@-o-keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
}
 
@keyframes animate {
	from {background-position:0 0;}
	to {background-position: 500px 0;}
} */

body{
	margin:0; 
	padding:0;
	font-family:"arial",heletica,sans-serif;
	font-size:12px;
    color: white;
    background: #2E4052
}


h1{
    text-align: center;
    margin: 0px
}

p{
    font-weight: bold;
    text-align: left;
    font-size: larger;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 30px;
}

#container{
    margin-top: 10px;
}

#todo_form{
    /*ui holds the form */
    border-radius: 15px;
    background: #412234 ;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    height: 150px;
}

#form_title{
    font-weight: bold;
    font-size: large;
}

/* Input field for todo item entry */
#input_field{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#input_field:focus {
    border: 3px solid #555;
}

/* Submit Button */
#submit_button{
    vertical-align: middle;
    display: inline-block;
    border-radius: 50px;
    background-color: #FFC857;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

#submit_button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#submit_button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#submit_button:hover span {
    padding-right: 25px;
}

#submit_button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Todo items in the list */
#item_list{
    border-top-style: double;
    border-top-width: 5px;
    padding: 0px;
    margin:auto;
    margin-bottom: 20px;
    width: 95%;
    height: 80px;
}

#not_complete{
    /*gray label*/
    border-radius: 50px;
    background: #FF6961;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: auto;
    width: 200px;
    height: 150px; 
}

#completed{
    /* green label  */
    border-radius: 15px 50px 30px;
    background: #BDD9BF;
    color: black;
    font-weight: bold;
    padding: 20px;
    margin: auto;
    width: 200px;
    height: 150px; 
}

/* Button for completed || not complete */
#update_button{
    background-color: #BDD9BF;
    text-decoration: none;
    color: black;
    font-size: x-large;
    margin-left: 25px;
    padding: auto;
    border-radius: 10px;
    border: 2px solid #FFC857;
    float:right
}

#update_button:hover{
    background-color: #FFC857;
    color: white;
}

/* Button for delete todo entry */
#delete_button{
    background-color: #BDD9BF;
    text-decoration: none;
    color: black;
    font-size: x-large;
    margin: auto;
    padding: auto;
    border-radius: 10px;
    border: 2px solid red;
    float: right;
}

#delete_button:hover{
    background-color: red;
    color: white;
}