<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo app</title>
    
    <!-- Adding CSS to the HTML file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base-layout.css') }}" />

</head>
<body>
    <div id="container">
    <h1>Todo App</h1>
    <div id="todo_form">
    <form action="/add" method="post">
        <label id="form_title" for="title">Todo Title</label>
        <input id="input_field" type="text" name="title" placeholder="Enter Todo...">
        <br>
        <button id="submit_button"><span>Add </span></button>
    </form>
    </div>
    {% for todo in todo_list %}
    <div id="item_list">
        <p> {{ todo.id }} | {{ todo.title }}</p>

        {% if todo.complete == False %}
            <span id="not_complete">Not Complete</span>
        {% else %}
            <span id="completed">Completed</span>
        {% endif %}

        <a id="update_button" href="/update/{{ todo.id }}">Update</a>
        <a id="delete_button" href="/delete/{{ todo.id }}">Delete</a>
    </div>
    {% endfor %}
    </div>
</body>
</html>